.education-content-box-outer{
	padding-top: 2.4vw;
}
.education-content-box{
	margin: 2vw 0px;
	position: relative;
}
.education-content-box::before{
	content: "";
	position: absolute;
	height: 100%;
	width: .5%;
	left: 0;
	top: 0;
	background-color: #5e17eb;
}
.education-content-box:hover.education-content-box::before{
	background-color: white;
}
.education-content-box:hover.education-content-box h1{
	color: white;
}
.education-content-box span{
	color: #5e17eb;
	font-family: Poppins;
}
.education-content-box h1{
	font-family: Poppins;
	font-size: 2.5vw;
	color: #5e17eb;
}
.education-content-box h4,h5{
	font-family: Montserrat;
	font-weight: 400;
	font-size: 1.3vw;
	color: white;
}
.education-content-box h5{
	font-size: 1.1vw;
}


/*media query=============================================*/
@media screen and (max-width:767px){
	.education-content-box-outer{
		padding-top: 6vw;
		}
	.education-content-box{
		background-color: #141414;
		padding-top: 2vw;
		padding-bottom: 2vw;
	}
	.education-content-box h1{
	font-size: 8vw;
	}
	.education-content-box h4{
		font-size: 4.1vw;
	}
	.education-content-box h5{
		font-size: 3.5vw;
	}
}

@media screen and (min-width:767px) and (max-width:992px){
	
	.education-content-box h1{
	font-size: 5vw;
	}
	.education-content-box h4{
		font-size: 2vw;
	}
	.education-content-box h5{
		font-size: 1.6vw;
	}
}